/*Styles the nav bar*/

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  padding-left: 1.5em;
  padding-right: 1.5em;
  padding-bottom: 1em;
  color: #FFFFFF;
  background-color: #4056A1;
  top: 0;
}

.logo {
  display: flex;
  align-items: flex-end;
  font-family: 'Bungee', cursive;
  font-size: 3rem;
}

.right-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  font-family: 'Source Sans Pro', sans-serif;
  
}

.right-nav:hover {
  cursor: pointer;
}

.right-nav:hover .icon {
  font-size: 120%;
  color: red;
}

nav .icon {
  display: flex;
  align-self: center;
  transition: font-size 1s;
}


