.display-tweet {
  display: flex;
  flex-direction: column;
  width: 100%;
}
article {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  border: 3px solid ;
}

article:hover {
  box-shadow: 10px 5px 5px #a395c9;
}

article header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* aligns the pf-icon and name */
article header div{
  display: flex;
  align-items: center;
}

article img {
  margin-right: .5em;
}

article p {
  display: flex;
  border-bottom: 3px solid black;
  padding-bottom: .5em;
  overflow-wrap: anywhere;
}

article footer {
  display: flex;
  justify-content: space-between;
}

article .icon {
  color: #4056A1;
  }

article .icon:hover {
color: orange;
}
